.menu__box {
	display: inline;
	color: #fff;
	padding: 15px 10px;
	text-decoration: none;
	text-align: center;
	font-size: 36px;
}

.menu__mobile {
		position: relative;
}

.wrap {
	position: relative;
}

.menu__box:hover { background: #5c8db7; }

@media (max-width: 480px) {
	
	.box__link {
		left: -100%;
		position: relative;
		visibility: hidden;
		font-size: 10px;
	}
	
	.menu__mobile::before {
		display: block;
		position: fixed;
		left: 0;
		top: 5px;
		content: '';
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: black;
		opacity: 50%;
	 }
	
	.wrap::before {
		position: fixed;
		left: 5px;
		top: 15px;
		display: inline;
		content: '';
		width: 15px;
		height: 1px;
		background: white;
	}
	.wrap::after {
		position: fixed;
		left: 5px;
		top: 19px;
		display: inline;
		content: '';
		width: 15px;
		height: 1px;
		background: white;
	}	
}