<style>
body{ font-family:arial; }
.nav {
	display: flex;
	justify-content: flex-end; /* разместим справа */
	background: #008aff;
}
.nav {
	color:#fff;
	padding:15px 10px;
	text-decoration:none;
	text-align:center;
	font-size: 36px;
}
.nav:hover { background:#5c8db7; }
/* smartphones, iPhone, portrait 480x320 phones */
	@media (min-width: 320px) {
	.nav_link { 
		justify-content: space-around; 
		flex-grow:1;
		font-size: 10px;
		flex-direction: column;
		}
	}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width: 481px) {
	.nav_link { 
		justify-content: space-around; 
		flex-grow:1;
		font-size: 15px;
		flex-direction: column;
	}
}
	
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
	.nav_link { 
		justify-content: space-around;
		flex-grow:1;
		font-size: 20px;
		flex-direction: column;
	}
}
	
/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width: 961px) { 
	.nav_link { 
		flex-grow:1;
		font-size: 25px;
		flex-direction: column;
	}
}
/* big landscape tablets, laptops, and desktops */ 
@media (min-width: 1025px) {
	.nav_link { 
		flex-grow:1;
		font-size: 30px;
		flex-direction: column;
	}
}
	
/* hi-res laptops and desktops */
@media (min-width: 1281px) {
  .nav_link {
    flex-grow:1;
    font-size: 35px;
    flex-direction: column;
	}
}
</style>